@font-face {
  font-family: 'Benguiat_Bold';
  src: url('/public/fonts/Benguiat.ttf') format('truetype');
}

.container {
  max-width: 1024px;
  margin: auto;
  font-size: 1rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.textHome {
  font-family: 'Benguiat_Bold';
  font-size: 2rem;
  color: rgb(15 118 110);
}

nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 10px 10px;
  color: rgb(4, 46, 42);
}

.no-underline {
  text-decoration: none;
  color: rgb(4, 46, 42);
}

ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  
}

nav li {
padding: 0px 15px;
}

div .sign-bar {
  display: flex;
  justify-content: space-between;
  
}

.login {
  padding: 10px 10px;
}
.sign-up {
  background-color:rgb(15 118 110);
  color: white;
  border-radius: 10%;
}

.hero {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  
}

h1 {
  font-family: 'Benguiat_Bold';
  font-size: 3rem;
}

h2 {
  text-align: center;
  color: white;
  
  
}

.hero-text {
  width: 50%;
}

.hero-img {
  width: 50%;
  
  border-radius: 10px;
  background: linear-gradient(165deg, #29A8A8 0.61%, #0F7270 100%);
}


